body {
    color: black;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header, main {
    margin: 0 5%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-navigation {
    display: flex;
    align-items: center;
}

.left-navigation .menu-icon {
    display: none;
}

.left-navigation a, .right-navigation a {
    color: #262626;
    font-size: 13px;
    padding: 0px 8px;
    margin: 4px 4px 0px 4px;
    border-bottom: 2px solid transparent;
}

.left-navigation a:hover, .right-navigation a:hover {
    border-bottom: 2px solid #262626;
}

.logo {
    width: 150px;
}

.dropdown-menu.columns-3 {
    min-width: 600px;
    left: -180px;
}

.dropdown-menu.columns-3 .row {
    margin-bottom: 20px;
}

.multi-column-dropdown {
    list-style: none;
}

.multi-column-dropdown .dropdown-col-title {
    font-weight: 700;
}

.multi-column-dropdown li a{
    margin-left: 0;
    padding-left: 0;
}

.multi-column-dropdown li a:hover {
    text-decoration: none;
}

.carousel-item {
    height: 65vh;
}

.carousel-item img {
    height: 100%;
}

.jumbotron, .carousel-content {
    position: relative;
    padding: 0;
}

.jumbotron img, .carousel-content img {
    width: 100%;
    height: 100%;
}

.caption {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 15px;
}

#caption-1, #caption-3 {
    top: 40%;
    left: 10%;
}

#caption-2 {
    right: 10%;
    left: 40%;
    top: 65%;
}

.caption h3 {
    font-size: 20px;
    font-weight: 800;
}

.caption button {
    font-weight: 800;
    background-color: black;
    color: white;
    border: none;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
}

.offers-group {
    margin-bottom: 48px;
}

.offers-group.row {
    margin-left: 0;
    margin-right: 0;
}

.offer {
    width: 25%;
}

.img-holder {
    margin-top: 48px;
    width: 100%;
    max-height: 190px;
    vertical-align: middle;
}

.offer img {
    width: 100%;
    height: 100%;
    display: block;
}

.offer h3, .section-title {
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    margin-top: 38px;
}

.offer a {
    text-decoration: none;
    text-transform: uppercase;
    color: #0067b8;
    font-weight: 800;
}

.offer a:hover {
    border-bottom: 2px solid #0067b8;
}

.social-media {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-media a {
    margin: 0 5px;
    font-size: 42px;
}

.social-media .fa-facebook-square {
    color: #3B5998;
}

.social-media .fa-twitter-square {
    color: #1dcaff;
}

.social-media .fa-linkedin-square {
    color: #0E76A8;
}

@media only screen and (max-width: 1200px) {
    header {
        margin-left: 20px;
        margin-right: 20px;
    }
    main {
        margin-left: 0;
        margin-right: 0;
    }

    .container-fluid {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .right-nav-title {
        display: none;
    }

    .carousel {
        width: 100%;
    }

    .img-holder {
        max-height: 150px;
    }
}

@media only screen and (max-width: 912px) {

    .offer.col-sm-3 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .img-holder {
        max-height: 220px;
    }
    
    #caption-1, #caption-3 {
        top: 40%;
        left: 10%;
    }
    
    #caption-2 {
        top: 55%;
    }
}

@media only screen and (max-width: 600px) {

    .offer.col-sm-3 {
        flex: initial;
        flex-basis: 100%;
        max-width: 100%;
        margin: 25px;
    }

    .img-holder {
        max-height: 355px;
    }
    .carousel-item {
        height: 55vh;
    }

    #caption-1, #caption-2, #caption-3 {
        position: relative;
        top: 0;
        left: 0;
    }

    .carousel-item img {
        height: 65%;
    }

    #top-carousel img{
        height: 100%;
    }
}
